.dialog {
  width: 75%;
  height: 95%;
  margin: auto;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
  width: 98%;
}

.close {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.hint {
  margin-top: 40px;
  color: var(--blue-primary);
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  flex: 1;
}

.textInputContainer {
  max-width: 800px;
  width: 100%;
  height: 140px;
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.starsImg {
  margin-bottom: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.textInput {
  resize: none;
  outline: none;
  flex: 1;
  margin: 10px;
  max-height: 120px;
}

.sendButton {
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}
