.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  min-height: 40px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
