.signInPage {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  height: 100%;
}

.form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  max-height: 100vh;
}

.hint {
  color: #0b23f4;
  background-color: white;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  padding: 15px;
  bottom: 30px;
  right: 30px;
}